<!--1. One-Way Data Binding-->
<!--a. Interpolation-->
<div>
    <h1>{{ title }}</h1>
    <p>User Name: {{ user.name }}</p>
    <p>User Age: {{ user.age }}</p>
    <p>Current Date: {{ currentDate | date:'fullDate' }}</p>
    <p>{{ getWelcomeMessage() }}</p>
    <p>5 +5 = {{ 5+5 }}</p>
</div>

<!--b.  Property Binding: The imageUrlLogoNetRecrute property in AppComponent 
    is bound to the src attribute of the <img> element 
    using Angular's property binding syntax [src]="imageUrl"-->

    <img src="assets\images\image.png">
<div>
    <h2>Dynamic Image Example</h2>
    <img [src]="imageUrlLogoNetRecrute" alt="Dynamic Image">
    <img [src]="imageUrlLogoNetRecrute2" alt="Dynamic Image">
</div>

<!--c. Event binding : Bind the Event in the Template:-->


<div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <button (click)="handleClick()">Click me</button>
  </div>
  
